// .text-rich-text
//     figure
//         div
//             border-radius:  var(--space--0-5)
//             overflow: hidden
//     ul, ol
//         li::marker
//             color: var(--colors--prime)