[slider-cut] .w-dyn-item
  display block !important

// .navbar-sticky
//   background rgba(255,255,255,.8)
//   backdrop-filter: blur(30px)
//   box-shadow: 0 5px 15px 0 rgba(19,0,87,.05)
//   z-index 500
//   .navbar
//     padding .75rem 2rem !important
//   @media screen and (max-width: 747px)
//     background white
//     backdrop-filter: unset !important

html.lenis
  height auto

.lenis.lenis-smooth
  scroll-behavior auto

.lenis.lenis-smooth [data-lenis-prevent]
  overscroll-behavior contain

.lenis.lenis-stopped
  overflow hidden

.lenis.lenis-scrolling iframe
  pointer-events none

// .splide.is-initialized:not(.is-active) .splide__list
//   display flex !important
//   gap 2rem

.arrow, .round-arrow
  user-select none

.logos__slider
  .splide__track
    overflow: visible !important